<% if @friend %>
  <% @friend.map do |friend| %>
    <div>
      <%= friend.name %>
      <%= friend.surname %>
      <%= friend.email %>
      <%= friend.id %>
      <%= link_to "Add friend", friendship_create_path(friend: friend.id), :method => :post %>
    </div>
  <% end %>
<% end %>
