<h1> friendship </h1>
<div>
<%= form_tag(search_for_user_path, remote: true, method: "get") do %>
  <%= text_field_tag :friend, params[:friend],
                            placeholder: "Friends name or email", autofocus: true,
                            class: "form-control search-box input-lg" %>

  <%= button_tag(type: :submit, class: "btn btn-success") do %>
      Look up friends
  <% end %>

<% end %>
</div>

<div id='results'>
  <%= render 'friend' %>
</div>

<div id= 'results_friends'>
  <%= render 'user_friends/user_friends' %>
</div>
